.gm-style-iw {
  background: white;
  width: 303px !important;
  height: 157px;
  left: 1px !important;
  top: 1px !important;
}
.gm-style .gm-style-iw {
  overflow: visible;
}
.gm-style-iw>div {
  width: 325px !important;
  max-width: 325px !important;
}
